@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
}

.cat {
    position:fixed;
    right:5px;
    bottom:0px;
}

.carousel-caption-color {
    background-color: maroon;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.pfp {
    border-radius: 50%;
    border-width: 2px;
    width: 512px;
    height: 512px;

    z-index: 1;
    border: 5px solid #231f02;
}

.pfp-caption {
    margin: 10px;
}

.intro-text {
    font-size: 50px;
    font-weight: bold;
}

#intro-section {
    background-color: #FFF9CA;
    padding: 20px 0px 20px 0px;
}

#intro-section-details {
    background-color: #e6db88;
    padding: 40px 0px 40px 0px;
}

.intro-section-details-card {
    background-color: #FFF9CA;
    border: 3px solid #231f02;
    box-shadow: 5px 10px;
    border-radius: 10px;
    margin: 20px;
}

.intro-section-details-card:hover {
    transition: transform 0.25s ease;
    transform: scale(1.05);
}

.contact-icon {
    height: 64px;
    width: 64px;
}

.contact-icon:hover {
    transition: transform 0.2s ease;
    border-radius:50%;
    transform: scale(1.2);
}