@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
    font-family: 'Dosis', sans-serif;
    color:#1b0505
}

.header-row {
    background-color: bisque;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}